<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a Package to Ship!</title>
    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
      crossorigin="anonymous">
  </head>
  <body>
    <form action="/inventory" method="post">
      <h3>Add a New Package</h3>
      @* <label for="vehicleType">Type</label>
      <input id="vehicleType" name="vehicleType" type="text">
      <label for="vehicleYear">Year</label>
      <input id="vehicleYear" name="vehicleYear" type="text">
      <label for="vehicleMake">Make</label>
      <input id="vehicleMake" name="vehicleMake" type="text">      
      <label for="vehicleModel">Model</label>
      <input id="vehicleModel" name="vehicleModel" type="text"> *@
      <button type="submit">Submit</button>
    </form>
  </body>
</html>